<main class="container">
  <div class="columns is-multiline">
    <% user.favouriteList.forEach(restaurant => { %>
      <div class="column is-half-desktop is-half-tablet">
        <a href="/restaurants/<%= restaurant._id %>">
          <div class="card">
            <div class="card-image">
              <figure class="image">
                <img src="<%= restaurant.image1 %>" alt="<%= restaurant.name%>">
              </figure>
            </div>
            <div class="card-content">
              <h3 class="title"><%= restaurant.name %></h3>
              <h4 class="subtitle"><%= restaurant.cuisine %></h4>
            </div>
          </div>
        </a>
      </div>
    <% }) %>
  </div>
</main>
