<div class="container">
  <div class="imgCarousel">
    <div><img src="<%= restaurant.image1 %>"></div>
    <div><img src="<%= restaurant.image2 %>"></div>
    <div><img src="<%= restaurant.image3 %>"></div>
  </div>
  <div class="columns">
    <div class="column">
      <h3 class="title"><%= restaurant.name %></h3>
      <h4 class="subtitle"><%= restaurant.location %></h4>
      <div class="icon is-small">
        <i class="fa fa-pencil"></i>
      </div>
      <p><%= restaurant.description %></p>


      <% if(locals.isAuthenticated) { %>
        <a href="/restaurants/<%= restaurant._id %>/edit" class="button is-primary">Edit</a>

        <form method="POST" action="/restaurants/<%= restaurant._id %>">
          <input type="hidden" name="_method" value="DELETE">
          <button class="button is-danger">Delete</button>
        </form>

        <hr />

        <ul class="comments">
          <% restaurant.comments.forEach(comment => { %>
            <li>
            <div class="box">
            <% if(comment.isOwnedBy(locals.currentUser)) { %>
              <form class="delete" method="POST" action="/restaurants/<%= restaurant._id %>/comments/<%= comment._id %>">
                <input type="hidden" name="_method" value="DELETE">
                <button class="delete">x</button>
              </form>
              <% } %>
              <article class="media">
                <div class="media-left">
                  <figure class="image is-64x64">
                    <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
                  </figure>
                </div>
                <div class="media-content">
                <div class="content">
                    <p>
                      <%= comment.content %>
                      </p>
                      <% if(comment.user){ %>
                      <strong><%= comment.user.username %></strong>
                    <% } %>
                  </div>
                </div>
              </article>
              </div>
            </li>
          <% }) %>
        </ul>
        <form method="POST" action="/restaurants/<%= restaurant._id %>/comments">
        <textarea class="textarea" name="content"></textarea>
        <button class="button is-primary">Submit</button>
        </form>
      <% } %>
    </div>
  </div>
</div>
