<div class="imageRating">
  <h3 class="title has-text-white resTitle"><%= restaurant.name %></h3> <br>
  <h4 class="subtitle has-text-white"><%= restaurant.cuisine %></h4>
  <div class="imgCarousel">
    <div><img src="<%= restaurant.image1 %>"></div>
    <div><img src="<%= restaurant.image2 %>"></div>
    <div><img src="<%= restaurant.image3 %>"></div>
  </div>
  <div class="icon is-small">
    <i class="fa fa-pencil"></i>
  </div>
  <p class="has-text-white"><%= restaurant.description %></p>
  <br>
  <p class="has-text-white"><%= restaurant.location %></p>
  <br>
  <a href = "<%= restaurant.link %>">Make a reservation</a>
</div>

<div class="outerDisplayRatings">
  <div class="column has-text-white displayRatings" >
    <h1 class="subtitle has-text-white ratings mainRating">Overall rating:<%= restaurant.overallRating %></h1>
    <h3 class="subtitle has-text-white ratings">Food: <%= restaurant.foodRating %></h3>
    <h3 class="subtitle has-text-white ratings">Service: <%= restaurant.serviceRating %></h3>
    <h3 class="subtitle has-text-white ratings">Ambiance: <%= restaurant.ambianceRating%></h3>
  </div>
</div>

<div class = "rateButtons">
  <% if(locals.isAuthenticated) { %>
    <% if(restaurant.isOwnedBy(locals.currentUser)) { %>
    <a href="/restaurants/<%= restaurant._id %>/edit" class="button is-primary">Edit</a>
    <form method="POST" action="/restaurants/<%= restaurant._id %>" style="margin-right: 30px;">
      <input type="hidden" name="_method" value="DELETE">
      <button class="button is-danger">Delete</button>
    </form>
    <% } %>

    <% if(!locals.currentUser.hasFavourited(restaurant)) { %>
      <form method="POST" action="/restaurants/<%= restaurant._id %>/favourite">
        <input type="hidden" name="_method" value="<% restaurant._id %>">
        <button class="button is-primary">Favourite</button>
      </form>
      <% } else { %>
      <form method="POST" action="/restaurants/<%= restaurant._id %>/favourite">
        <input type="hidden" name="_method" value="DELETE">
        <button class="button is-primary">Unfavourite</button>
      </form>
    <% } %>
</div>


<div class="commentsRight"
  <ul class="comments">
    <% restaurant.comments.forEach(comment => { %>
      <li style="margin-top: 50px;">
        <div class="box" style="background-color:#ffffffba;">
          <% if(comment.isOwnedBy(locals.currentUser)) { %>
            <form class="delete" method="POST" action="/restaurants/<%= restaurant._id %>/comments/<%= comment._id %>">
              <input type="hidden" name="_method" value="DELETE">
              <button class="delete">x</button>
            </form>
    <% } %>
    <article class="media">
      <div class="media-left">
        <figure class="image is-64x64">
          <img src="https://cdn3.iconfinder.com/data/icons/internet-and-web-4/78/internt_web_technology-13-512.png" alt="Image">
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <h3><%= comment.rating %></h3>
          <p><%= comment.content %></p>
          <% if(comment.user){ %>
          <strong><%= comment.user.username %></strong>
          <% } %>
        </div>
      </div>
    </article>
  </div>
      </li>
    <% }) %>
  </ul>
</div>
<div class="ratingForm">
<h1 class="rateHead">What did you think?</h1>
<form method="POST" action="/restaurants/<%= restaurant._id %>/comments">
  <textarea class="textarea" name="content" style="background-color:#494b523b; color:white;"></textarea>
    <div class="field inlineRate">
      <label class="label has-text-white">Food_</label>
        <div class="control">
          <div class="select">
            <select name="food">
              <option>0</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
           </div>
          </div>
        </div>
        <div class="field inlineRate">
          <label class="label has-text-white">Service_</label>
            <div class="control">
              <div class="select">
                <select name="service">
                  <option>0</option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
            </div>
          </div>
          <div class="field inlineRate">
            <label class="label has-text-white">Ambiance_</label>
              <div class="control">
              <div class="select">
                <select name="ambiance">
                  <option>0</option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
            </div>
          </div>
          <button class="button is-primary">Submit</button>
 </form>
 </div>
  <% } %>
</div>
